@media screen and (max-width: 909px) {
    .main {
        margin: auto;
    }

    .main-parent {
         grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box5"
            "box6"
            "box7"
            "box8"
            "box9"
            "box10"
            "box11"
        ;

    }
 .main {
      margin-right: 0;
      padding: 0;
  }
    .sidbar {
        display: none;
    }

    .sm-100 {
        width: 100%;
    }
}

@media screen and (min-width: 910px) and (max-width: 1024px) {
    .main-parent {
         grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "box1 box1 box1 box1 box1 box1"
            " box2 box2 box3 box3 box4 box4"
            "box5 box5  box5 box7 box7 box7 "
            "box6 box6 box6 box6 box6 box6"
            "box8 box8  box8 box10 box10 box10"
            "box9 box9 box9 box11 box11 box11"

        ;

    }
 
    

}